body {
    background-color: #ddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.5;
    /* padding-bottom: 0.5rem; */
    /* text-indent: 50px; */
}

tr:nth-child(odd) {
  background-color: #f6f6f6;
}

#cont_icons {
    display: flex;
    justify-content: space-around;
    gap: 5px;
}